[submodule "themes/mainroad.orig"]
	path = themes/mainroad.orig
	url = https://github.com/vimux/mainroad.git
[submodule "themes/hugo-clarity.orig"]
	path = themes/hugo-clarity.orig
	url = https://github.com/chipzoller/hugo-clarity
